/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Common Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Header */
nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 9;
}

/* Menu */
nav div p {
  cursor: pointer;
}

.menu {
  display: flex;
  padding: 0;
  margin: auto;
  justify-content: center;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s;
}

.menu li svg {
  margin-right: 10px;
}

.menu li a:hover {
  color: #ffffff;
  background-color: #007bff;
}